{% extends "base.html" %}

{% block content %}
    <h1>Listado de Publicaciones</h1>
    <ul>
        {% for pub in publicacion_list %}
            <li>
                <strong>{{ pub.titulo }}</strong><br>
                Autor: {{ pub.autor }}<br>
                Fecha de publicación: {{ pub.fecha_publicacion }}<br>
                <a href="{% url 'publicaciones:detalle_publicacion' pub.pk %}">Ver detalle</a>
            </li>
        {% empty %}
            <p>No hay publicaciones disponibles aún.</p>
        {% endfor %}
    </ul>
{% endblock %}